.SignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  width: 100%;
  height: 100vh;
}

.konten {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100vh;
}

.konten-gambar-signup{
  padding: 0;
  width: 50%;
}

.my-scattered {
  width: 100%;
  height: 100vh;
}

.konten-signup {
  flex: 1;
  border-radius: 10px;
  border: none;
  background-color: #e4e8ef;
  padding: 20px;
}

.div {
  padding: 20px;
}

.overlap-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-username,
.signup-email,
.signup-password{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  top: 20px;
}


.form-signup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sg-username,
.sg-email{
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  display: flex;
  gap: 40px;
  height: 65px;
  width: 550px;
  padding: 10px 30px;
  margin-bottom: 35px;
  font-family: 'Inknut Antiqua', serif;
  font-size: 20px;
  color: #00000054;
  position: relative;
  flex: 1; /* Mengisi seluruh lebar input container */
}

.sg-password{
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  display: flex;
  gap: 10px;
  height: 65px;
  width: 550px;
  padding: 10px 30px;

  font-family: 'Inknut Antiqua', serif;
  font-size: 20px;
  color: #00000054;
  position: relative;
  flex: 1; /* Mengisi seluruh lebar input container */
}

.text-wrapper {
  color: #00000054;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto', serif;
}

.text-wrapper-2 {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  font-family: 'Roboto', serif;
  margin-bottom: 0;
  height: 45px;
}

.text-wrapper-3 {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  font-style: normal;
  line-height: normal;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Inknut Antiqua', serif;
}

.text-wrapper-4 {
  color: #00000054;
  font-size: 18px;
  font-weight: 500;
  flex: 1;
  font-family: 'Roboto', serif;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -6.97px;
  margin-top: -8.97px;
  position: relative;
}

.icon-eye-signup {
  position: absolute;
  height: 45px;
  width: 45px;
  right: 20px;
  cursor: pointer;
  color: #888;
}

.btn-sing-up-with {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 5px 5px;
  margin: 0 auto;
  width: 320px;
  position: relative;
  justify-content: center;
  border-radius: 17px;
  display: flex;
  gap: 10px;
  height: 47px;
}

.flat-design-google {
  width: 28px;
  height: 29px;
  object-fit: cover;
  
}


  .button-sing-up {
    all: unset;
    align-items: center;
    background-color: #0e1645;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    
    
    gap: 10px;
    height: 55px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 340px;
  }
  
  .button-sing-up .text-wrapper-5 {
    color: #ffffff;
    font-family: 'Roboto',  Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 40px;
    margin-bottom: -7.5px;
    margin-top: -9.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  
  

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.text-wrapper-6,
.text-wrapper-7 {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  margin-top: 10px;
  font-family: 'Roboto', serif;
}


.text-wrapper-8 {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  font-family: 'Roboto', serif;
}

.line {
  width: 251px;
  height: 2px;
  object-fit: cover;
  margin: 0 5px;
}

/* Add CSS for responsiveness */
/* For screens with a maximum width of 768px */
@media (max-width: 768px) {
  .SignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .konten {
    flex-direction: column;
    text-align: center;
  }

  .konten-gambar-signup {
    display: none; /* Hide the image on small screens */
  }

  .sg-username,
  .sg-email{
  border-radius: 10px;
  border: none;
  display: flex;
  gap: 10px;
  height: 65px;
  width: 550px;
  padding: 10px 30px;
 

  position: relative;
  flex: 1; /* Mengisi seluruh lebar input container */
}
 
}

@media (max-width: 480px) {
  .SignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .konten {
    flex-direction: column;
    text-align: center;
  }



  .sg-username,
  .sg-email{
  border-radius: 10px;
  height: 55px;
  width: 410px;
  font-size: 10px;
  }

  .sg-password{
    border-radius: 10px;
    height: 55px;
    width: 410px;
    font-size: 10px;
  }

}