/* Untuk layar dengan lebar kurang dari atau sama dengan 768px */
@media (max-width: 768px) {
    .artikel-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }
  }
  
  /* Untuk layar dengan lebar lebih besar dari 768px */
  @media (min-width: 769px) {
    .artikel-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
  